@import "bootstrap";

.time{
  margin-top: 0;
}

.content-show{
  background-color: #d3d3d3;
  border-radius: 5px;
}

.field_with_errors label{ // подсветили поле Title, при ошибке валидации в model post
  color: #d01612;
}
.field_with_errors input{ // подсветили поле Body, при ошибке валидации в model post
  color: #d01612;
}

.time-commets{
  margin-top: 0;
}
.comment-body{
  margin-bottom: 0;
}